{
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 80,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "always"
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 120,
        "useTabs": false,
        "tabWidth": 4,
        "semi": false,
        "singleQuote": false,
        "trailingComma": "none",
        "bracketSpacing": true,
        "bracketSameLine": true
      }
    }
  ]
}
